<h3>Invite an opponent</h3>

<%= simple_form_for @invite, url: game_invites_path(@game) do |f| %>
  <%= f.association :recipient, label: 'Choose a player to invite', collection: User.all(order: 'email'), label_method: :email, value_method: :id %>
  <%= f.submit 'Send' %>
<% end %>