<div class="hero">
<br />

  <div class="hero-quote col-xs-10 col-xs-offset-1 text-center">Play chess in a way that it's never been played before.</div>
</div>

<br/>

<div class="col-xs-10 col-xs-offset-1 text-center">
  Text below the hero
  <br />
  <%= link_to "Play Now", new_game_path, class: 'btn btn-warning btn-lg' %>
</div>