<div class="hero"></div>

<br/>

<div class="col-xs-10 col-xs-offset-1 text-center">
  <p>Start a new game, challenge a friend!</p>
  <%= link_to "Play Now", new_game_path, class: 'btn btn-warning btn-lg' %>
</div>