<div class="col-xs-6 col-xs-offset-3">
  <h3>Join an existing game</h3>
    <% @games.each do |game| %>
      <% if game.pending_opponent? && game.player_white_id != current_user.id %>
        <%= "Game Name: #{game.name}; White Player: #{game.white_player.username}" %>
        <%= simple_form_for game do |f| %>
          <%= f.hidden_field :player_black_id, value: current_user.id %>
          <%= f.submit 'Join this game', class: 'btn btn-info btn-sm' %>
        <% end %>
        <br />
      <% end %>
    <% end %>
</div>
