<p>You've been challenged by <%= @sender.email %> to a chess match!</p>
<p>Click here to join:</p>
<p><%= link_to 'Match Name: #{@game.name}', game_invite_url(@invite.game) %></p>

<p>May the force be with you!</p>
<i>mChess</i>