body {
  font-family: 'Roboto', Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar-inverse .navbar-brand {
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.navbar.navbar-inverse {
  border-radius: 0;
  box-shadow: 0 0 6px 0;
}

/*.hero {
  background: url('chessboard.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  box-shadow: 0px 3px 8px #2a2a2a;
}*/

.hero {
  background-image:url('chessboard.jpeg');
  background-size:cover;
  position:relative;
  height:100vh;
}

.hero-quote {
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: orange;
}